* {
    padding: 0;
    margin: 0;
}


.container {
    text-align: center;
    position: relative;
}
.background-pictures {
    background-image: url('slide-image02.jpg');
    width: auto;
    height: 800px;
}
.text h1 {
    top: 25%;
    position: absolute;
    left: 40%;
}
input {
    top: 50%;
}